[submodule "nvim"]
	path = nvim
	url = git@github.com:ReedMerrill/nvim.git
[submodule "yazi"]
	path = yazi
	url = git@github.com:ReedMerrill/yazi.git
[submodule "aliases"]
	path = aliases
	url = git@github.com:ReedMerrill/aliases.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/ReedMerrill/zsh.git
